<div class="input_fields_wrap">
  <%= simple_form_for @house, :html => { :multipart => true } do |f| %>

    <% if @house.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @house.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, "Naam" %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :password, "Wachtwoord" %><br>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Wachtwoord nog een keer" %><br>
      <%= f.password_field :password_confirmation %>
    </div>

    <fieldset class="users">
       <%= f.fields_for :users do |uf| %>
          <div class="field">
            <%= uf.label :name  %>
            <%= uf.text_field :name %>
            <%= uf.label :avatar , "Avatar" %>
            <%= uf.file_field :avatar %>
          </div>
        <% end %>
    </fieldset>

    <button class="add_field_button">Huisgenoten toevoegen</button>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
